@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,300;1,400;1,700;1,800&display=swap')

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:#E3E9D3;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.qr-container{
    border:1px solid black;
    padding:20px;
    height:50vh;
    width:500px;
    border-radius:5px;
    box-shadow:0 0 10px 0;
    background-color:white;
}
h2{
    text-align:center;
    margin-bottom:10px;
}

#qr-input{
    display:block;
    margin-bottom:10px;
    width:90%;
    font-size:16px;
    padding:10px;
}

#qr-button{
    width:90%;
    padding:10px;
    font-size:1.2rem;
    border:none;
    background-color:#2ecc71;
    color:white;
    margin-bottom:10px;
}

#qr-img{
    display:block;
    width:50%;
    margin:0 auto;

}